@import "tailwindcss";

:root {
  --background: #f7f5f1;
  --foreground: #30271f;
  --font-sans: 'Figtree', sans-serif;
  --font-serif: 'Newsreader', serif;
}

@theme {
  --color-primary: #9a4729;
  --color-secondary: #337344;
  --color-tertiary: #daa24f;

  --color-success: #337344;
  --color-warning: #e0843e;
  --color-error: #b94642;
  --color-info: #57768c;

  --color-clay: #9a4729;
  --color-moss: #337344;
  --color-gold: #daa24f;
  --color-sand: #e8e4dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30271f;
    --foreground: #f7f5f1;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--background);
    color: var(--foreground);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-serif);
  }
}
